.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-image {
  border: 1px solid black;
  /* width: 25%; */
  margin-bottom: 10px;
  margin-right: 1rem;
  box-shadow: 4px 3px 3px gray;
  align-self: center;
}
