.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 96%;
}
.title {
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid black;
  /* justify-content: center; */
}
.welcome-header,
.welcome-description {
  background-color: bisque;
}
.welcome-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
}

.welcome-description {
  max-width: 500px;
  padding: 1rem;
}
.welcome-image {
  width: 50%;
}
