.navbar {
  position: sticky;
  top: 0;
  padding: 0;
  background-color: azure;
  text-align: end;
  border-style: outset;
  border-radius: 10px;
  box-shadow: 5px 2px lightblue;
}
.brand {
  display: flex;
  float: left;
}
.navbar li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
