.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.location-header {
  background-color: rgba(245, 245, 220, 0.699);
  border-radius: 2rem;
}
.location-card {
  background-color: bisque;
  border-radius: 1rem;
}
.location-details {
  justify-content: unset;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid black;
  padding: 10px;
}
.location-description {
  width: 400px;
}
.location-locales {
  width: 400px;
}
.location-tribes {
  width: 200px;
}

.location-card span {
  border-bottom: 1px solid black;
}
