.location-card {
  background-color: bisque;
}
.location-details {
  justify-content: unset;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid black;
  padding: 10px;
}
.location-description {
  width: 400px;
}
.location-locales {
  width: 400px;
}
.location-tribes {
  width: 200px;
}
